  body {
    background-color: rgb(197, 182, 240)
  }

  .form-control {
    display: inline-block;
    width: 140px;
    font-weight: bolder;
  }

  .jumbotron.text-center {
    background: rgb(197, 182, 240)
  }
  
  .col-med-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
    img {
        background-color: white;
        height: 570px;
        width: 640px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
  .card-body {
    height: 523px;
  }    
  .card-header{
    size: 16px;
  }
  .h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    
      