<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Name</title>

  <!-- CDNs and scripts -->
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">

  <!-- Leaflet-Choropleth JavaScript -->
  <script type="text/javascript" src="../js/choropleth.js"></script>

  <!-- wordcloud -->
  <script src="../static/js/d3-wordcloud/lib/d3/d3.js"></script>
  <script src="../static/js/d3-wordcloud/lib/d3/d3.layout.cloud.js"></script>
 
</head>

<body>
  
  <!-- Create the Overall Grid -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class= "jumbotron text-center">
            <h1 class="display-3">What's in a name?</h1>
          </div>
        </div>
      </div>
    </div>    
  </div>  
  <div class= "container">
    <div class="row">
      <div class="col-md-6">
        <div id="map"></div>
      </div>
      <div class="col-md-6">
        <p class= "data-text">This public data set was sourced from the Social Security Administration (SSA) card applications for births that occurred in the United States from 1910 to 2014. To protect applicant’s privacy, only names that had more than 5 occurrences are included in the data set. Please note that many people born before 1937 never applied for a Social Security card.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="card border-primary mb-3" style="max-width: 20rem;">
              <h4 class="card-header">Fun Name Facts</h4>
              <div class="card-body">
                  <h5 class="card-title">Top Ten Names from 1910-1914 that are No Longer Popular Today</h5>
                  <ul>
                      <li>Ethel</li>
                      <li>Gertrude</li>
                      <li>Bessie</li>
                      <li>Myrtle</li>
                      <li>Blanche</li>
                      <li>Beulah</li>
                      <li>Velma</li>
                      <li>Alberta</li>
                      <li>Mable</li>
                      <li>Wilbur</li>
                  </ul>
                  <hr class="my-4">
                  <p class="card-text">Only 2 of the top 20 names from 1910-1914 were boys. The two boy names (Wilbur and Orville) were most likely made popular from technological advancements at that time.</p>
                  <!-- <p class= "card-text">Based on our dataset, 30,274 names have been used in the US from 1879-2018. -->
                    <!-- Of these, 2,896 are gender agnostic names.</p> -->
                    <hr class="my-4">
                    <p class="card-text">Ethel was most likely made popular by Ethel Barrymore a stage actress regarded as "The First Lady of the American Theatre" whose career spanned six decades.
              </div>
            </div>
      </div>
      <div class="col-md-8">
         <img src="../static/images/wordcloud2.svg" alt="Word Cloud">
      </div>
    </div>
  </div>
  <div class= "container">
      <div class="row">
          <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Michael">
                  <span class="form-group-btn">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </span>
          </div>
      </div>
      <div class="row">
          <div class="col-md-10">
              <div id="line"></div>
          </div> 
      </div>
</div>

  <!-- wordcloud -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
  <script src="../static/js/d3-wordcloud/d3.wordcloud.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  

</body>

</html>